<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>509493207975-g3qt98ap3o1f86u5rvcou0ts172otn15.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.509493207975-g3qt98ap3o1f86u5rvcou0ts172otn15</string>
	<key>API_KEY</key>
	<string>AIzaSyDXKzCBb74SBC6T1DWFsKO7QoGVpa7tkjA</string>
	<key>GCM_SENDER_ID</key>
	<string>509493207975</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.duy.customview.-7-FirebasePushNotification</string>
	<key>PROJECT_ID</key>
	<string>fir-anatylic</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-anatylic.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:509493207975:ios:35737ca78a2e598106cc82</string>
	<key>DATABASE_URL</key>
	<string>https://fir-anatylic.firebaseio.com</string>
</dict>
</plist>