<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FILEHEADER</key>
	<string>
//  ___FILEBASENAME___.swift
//  ___PACKAGENAME___
//
//  Created by Duy Nguyen on ___DATE___.
//  Copyright © 2020 Julio Lopez. All rights reserved.
//</string>
</dict>
</plist>
